<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>HOME | Codenera</title>
  </head>
  <body>

    <!--Navbar start-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">ImageVilla</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
          </ul>
          <span class="navbar-text">
            <a href="/logout/" style="text-decoration: none;">Logout</a> 
          </span>
        </div>
      </div>
    </nav>
    <!--Navbar end-->




    <div class="container mt-5 mb-5 card p-5 shadow-lg" style="background-color: #f2f2f2;">
        <div class="row">
          <h4>Convert your Image:</h4> <hr>
            <div class="col-md-6">
                 <div class="card p-5 shadow-lg">
                    <form method="POST" action="/convert/convertimg/" enctype="multipart/form-data">
                      {% csrf_token %}
                      <input type="file" name="image" accept="image/*" class="form-control" required> <br>
                      <select name="size" class="form-control">
                        <option value="thumbnail">Thumbnail (100x100)</option>
                        <option value="medium">Medium (500x500)</option>
                        <option value="large">Large (1000x1000)</option>
                      </select> <br>
                      <input type="text" class="form-control" name="watermark" value="Codenera" required> <br>
                      <button type="submit" class="btn btn-primary">Convert</button>
                    </form>
                 </div>   
            </div>
        </div>
    </div>



    {% if converted_image %}
    <div class="container mt-5 card p-3 mb-5 shadow-lg" style="width: 1300px;">
      <div class="row">
        <div class="col-md-12 ">
            
              <div><h4>Converted Image:</h4></div><hr>
              <img id="convertedImage" src="data:image/png;base64,{{ converted_image }}" alt="Converted Image"><br> <br>
           
            <div>
                <button id="downloadBtn" class="btn btn-primary"
                  data-image="data:image/png;base64,{{ converted_image }}">Download</button>
            </div>
        </div>
      </div>
    </div>    
    {% endif %}


        <!--Footer start-->
        <footer class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand text-white" href="#">ImageVilla</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
              aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </footer>
        <!--Footer end-->




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    <script>
        document.getElementById('downloadBtn').addEventListener('click', function () {
          const imageSrc = this.getAttribute('data-image');
          const link = document.createElement('a');
          link.href = imageSrc;
          link.download = 'converted_image.png'; 
          document.body.appendChild(link);
          link.click();
          document.body.removeChild(link);
        });
    </script>
  
  </body>
</html> 



